body {
  color: #2f2f2f;
}
a {
  color: #4fa1db;
}
a:hover {
  color: #216da3;
  text-decoration: underline;
}
code {
  padding:2px 4px;
  font-size:90%;
  font-family:"Source Code Pro",monospace;
  color:#3f3f3f;
  background-color:rgba(128,128,128,0.075);
  white-space:nowrap;
  border-radius:4px
}
pre {
  display:block;
  padding:10px;
  margin:0 0 10.5px;
  font-size:14px;
  line-height:1.45;
  word-break:break-all;
  word-wrap:break-word;
  color:#333;
  background-color:rgba(128,128,128,0.08);
  border:1px solid rgba(128,128,128,0.075);
  border-radius:4px
}
pre code {
  padding:0;
  font-size:inherit;
  color:inherit;
  white-space:pre-wrap;
  background-color:transparent;
  border-radius:0
}
img {
  max-width: 100%;
  margin: 10px auto;
}
.post-title {
  padding-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.post-title p {
  font-size: 80%;
  color: gray;
}
.post-content {
  font-size: 17px;
  padding: 30px 10px 10px 10px;
}
